<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="UniDaysDatabase" connectionString="Data Source=localhost;Initial Catalog=UniDaysHomework;User Id=UniDaysHomeworkAcceptanceTests;Password=51Be8bd9d20be6099948e841b160dec816fe49fb2ee6379dda9b2980ac9239c3"/>
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>